.selector-for-some-widget {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Vazirmatn-FD-Regular';
    src: url(../fonts/Vazirmatn-FD-Regular.woff2);
}

body {
    font: 'Vazirmatn-FD-Regular';
    direction: rtl;
}

#carouselExampleControls {
    height: 10rem;
  
    
}

#ratingHeader {
    position: absolute;
    z-index: 999;
    width: 98%;
    height: 10rem;
    margin: 15px 15px 15px 15px;
    /* background:
        linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent),
        url('../image/background.jpg') center/cover no-repeat fixed,
        #2a2438; */
}

#ratingHeader .navbar-toggler {
    color: #ffffff;
}

#ratingHeader .navbar-nav a#home {
    color: #dfa25f;
}

#ratingHeader .navbar-nav .nav-link {
    font-weight: 500;
    color: #ffffff;
}

.col-md-8 {
    border-radius: 15px;
}

.btn {
    background-color: #dfa25f;
}