.selector-for-some-widget {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Vazirmatn-FD-Regular';
    src: url(../fonts/Vazirmatn-FD-Regular.woff2);
}

body {
    font: 'Vazirmatn-FD-Regular';
    direction: rtl;
}

.carousel-inner {
    border-radius: 15px;
    margin: 15px auto;
    height: 30rem;
}

#ratingHeader {
    position: absolute;
    z-index: 999;
    width: 98%;
}

#ratingHeader .navbar-toggler {
    color: #ffffff;
}

#ratingHeader .navbar-nav a#home {
    color: #dfa25f;
}

#ratingHeader .navbar-nav .nav-link {
    font-weight: 500;
    color: #ffffff;
}

.form-select {
    width: 40%;
}

#form {
   width: 60%;
}

.col-md-8 {
    border-radius: 15px;
    background-color:khaki
}

.btn {
    background-color: #dfa25f;
}