.selector-for-some-widget {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Vazirmatn-FD-Regular';
    src: url(../fonts/Vazirmatn-FD-Regular.woff2);
}

body {
    font: 'Vazirmatn-FD-Regular';
    direction: rtl;
}

#carouselExampleControls {
    padding: 1rem;
}

.carousel-inner {
    border-radius: 15px;
    /* height: 30rem; */
    filter: brightness(0.4)
}

#ratingHeader {
    position: absolute;
    z-index: 999;
    width: 100%;
}

#ratingHeader .navbar-toggler {
    color: #ffffff;
}

#ratingHeader .navbar-nav a#home {
    color: #dfa25f;
}

#ratingHeader .navbar-nav .nav-link {
    font-weight: 500;
    color: #ffffff;
}

#ratingHeader .navbar-nav .nav-link:hover {
    color: #dfa25f;
}

h1 {
    font-size: 25px;
    display: flex;
    justify-content: center;
    color: #dfa25f;
    padding: 1rem;
}

.form-select {
    width: 40%;
    border: 1px solid #dfa25f;
}

#form {
    width: 60%;
}

.col-md-8 {
    border-radius: 15px;
    border: 1px solid #dfa25f;
    height: 130px;
}

.btn {
    background-color: #dfa25f;
}

/* .star {
    cursor: pointer;
    transition: all 100ms ease-in-out;
    color: lightgray;
}

.star.selected, .star:hover {
    color: #dfa25f;
} */
.rating {
    --dir: right;
    --fill: gold;
    --fillbg: rgba(100, 100, 100, 0.15);
    --star: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 17.25l-6.188 3.75 1.641-7.031-5.438-4.734 7.172-0.609 2.813-6.609 2.813 6.609 7.172 0.609-5.438 4.734 1.641 7.031z"/></svg>');
    --stars: 5;
    --starsize: 3rem;
    --symbol: var(--star);
    --value: 1;
    --w: calc(var(--stars) * var(--starsize));
    --x: calc(100% * (var(--value) / var(--stars)));
    block-size: var(--starsize);
    inline-size: var(--w);
    position: relative;
    touch-action: manipulation;
    -webkit-appearance: none;
}

[dir="rtl"] .rating {
    --dir: left;
}

.rating::-moz-range-track {
    background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
    block-size: 100%;
    mask: repeat left center/var(--starsize) var(--symbol);
}

.rating::-webkit-slider-runnable-track {
    background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
    block-size: 100%;
    mask: repeat left center/var(--starsize) var(--symbol);
    -webkit-mask: repeat left center/var(--starsize) var(--symbol);
}

.rating::-moz-range-thumb {
    height: var(--starsize);
    opacity: 0;
    width: var(--starsize);
}

.rating::-webkit-slider-thumb {
    height: var(--starsize);
    opacity: 0;
    width: var(--starsize);
    -webkit-appearance: none;
}

.rating, .rating-label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: ui-sans-serif, system-ui, sans-serif;
    border: none;
}

.rating-label {
    margin-block-end: 1rem;
}

p {
    padding: 1rem;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
}

/* .vote {
    padding: 0.5rem;
    display: flex;
    gap: 0.75rem;
    justify-content: center;
    font-size: 25px;
} */

#maincomments {
    height: 180px;
}

textarea {
    border: none;
    width: 100%;
    height: 90px;
    border-radius: 15px;
    outline: none;
    /* padding: 1rem; */
    font-size: small;
}

.phoneNumber {
    display: flex;
    justify-content: center;
}

#phoneNumber {
    border: 0.1px solid lightgray;
    width: 80%;
    direction: ltr;
    border-radius: 5px;
    outline: none;
    padding: 0.5rem;
    font-size: small;
}